*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img, video {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}
