@use "../settings/variables" as v;

/* Tailwind custom properties */
@theme {
  --color-primary: #{v.$color-primary};
  --color-primary-hover: #{v.$color-primary-hover};
  --color-secondary: #{v.$color-secondary};
  --color-secondary-hover: #{v.$color-secondary-hover};
}
