@use "../settings/variables" as v;

html {
  scroll-padding-top: v.$header-height;
}

body {
  font-family: v.$font-secondary;
  font-size: 1rem;
  line-height: 1.6;
  color: v.$color-dark;
  background-color: v.$color-light;
  min-height: 100vh;
}

main {
  padding-top: v.$header-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: v.$font-primary;
}
